<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahn.finalproject.MainLogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="나만의 타임캡슐"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:name="com.example.ahn.finalproject.GlobalValues.Main">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKEqPOQkfxlMHavom53SapjtA2hgHeinw" />

        <activity
            android:name=".MainActivity"
            android:label="나만의 타임캡슐"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginComplete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpPopup"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="com.example.ahn.finalproject.GlobalValues.ExitPopup"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="com.example.ahn.finalproject.CapsuleShow.CapsulePrivate"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.example.ahn.finalproject.CapsuleShow.CapsuleGroup"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.example.ahn.finalproject.Friend.AddFriend"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.ahn.finalproject.Friend.RequestFriend"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.ahn.finalproject.CapsuleGroup.CapsuleGroupMake"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--<activity
            android:name="com.example.ahn.finalproject"
            android:theme="@style/AppTheme.NoActionBar" />-->

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>
    android:supportsRtl="true"
</manifest>